<!DOCTYPE html>
<html>

  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/foundation.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/foundation.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
  </head>

  <body>
    <div class="container" id="box">
      <img src="../static/images/background.jpg" style="width:100%">
      {% block body %}

      {% endblock %}
    </div>
  </body>

</html>
